body {
	margin: 48px 16px 16px 16px;
	font-family: Verdana;
	font-size: 11px;
	background-color: #eeeff9;
}

/*
  NAVBAR
*/

#navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 34px;
	padding: 0px 10px;
	background-color: rgba(238, 239, 249, 0.96);
/*	background-color: rgba(238, 239, 249, 0.2);
	-webkit-backdrop-filter: blur(30px);*/
	overflow: hidden;
	box-sizing: border-box;
	text-align: center;
	z-index: 100;
	border-bottom: 1px solid rgba(210, 212, 237, 0.5);
}

#navbar h1 {
	color: black;
	display: inline-block;
	font: 14px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	line-height: 34px;
	margin: 0px;
}

/*
  TABS
*/

ol#toc {
    height: 22px;
    list-style: none;
    position: absolute;
    left: 10px;
    margin: 6px 0px 0px 0px;
    padding: 0;
}

ol#toc li {
    background: rgb(255, 255, 255);
    float: left;
    margin: 0 3px 0 0;
    padding-left: 10px;
}

ol#toc a {
    color: #000000;
    float: left;
    line-height: 22px;
    padding-right: 10px;
    text-decoration: none;
}

ol#toc li.current {
    background-color: rgb(67, 135, 255);
}

ol#toc li.current a {
    color: #fff;
}

/*
  BUTTONS
*/

#navbar #button-cluster {
	display: inline-block;
	margin: 6px 4px;
	position: absolute;
	right: 10px;
}

button {
	margin: 0px;
	height: 22px;
	width: 72px;
	border: 1px solid rgba(51, 51, 51, 0.33);
	border-radius: 4px;
	background-color: white;
}

button.square {
	width: 24px;
}

button:active {
	border: 1px solid #0473ea;
	border-radius: 4px;
	background-color: #3a98fc;
	color: white;
}


/*
	STYLE
*/

a:link {
	text-decoration: none;
}

h1 {
	color: #282828;
	font-size: 13px;
	font-weight: bold;
	font-style: normal;
	margin: 0px 0px 10px 0px;
}

h2 {
	color: #282828;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	margin: 0px 0px 2px 0px;
	text-align: left;
}

#display-date {
	font-size: 11px;
	font-weight: normal;
}

.status table {
	width: 300px;
	table-layout: fixed;
}

caption {
	font-weight: bold;
	font-size: 12px;
	text-align: left;
	padding: 4px;
	border-bottom: 1px solid #999;
}

caption div {
	display: inline-block;
	float: right;
}

th.subhead {
	text-align: right;
	color: #aaaaaa;
}

td {
	padding-left: 4px;
}

td.label {
	text-align: right;
	color: #aaaaaa;
}

table.tooltip {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

.tooltip td {
	padding: 0px;
}

td.figure {
	text-align: right;
}

tr.total td {
	border-top: 1px solid #bbb;
}

.plotlabel {
	background-color: rgba(255,255,255,0.75);
	font-size: 10px;
}

input.datepicker {
	width: 100px;
}

 
.status {
	background-color: white;
	border-radius: 6px;
	padding: 10px;
	margin-bottom: 10px;
}

#left-col {
	width: 300px; /* if you change this, change right-col left margin. */
	float: left;
	height: 840px;
	margin-bottom: 10px;
}

.right-col {
	margin-left: 330px; /* shoud be 20px more than the left-col width. */
	margin-right: 0px;
	margin-bottom: 10px;
	background-color: white;
	border-radius: 6px;
	padding: 10px 0px 0px 10px;
}

.multichart {
	height: 250px;
	min-width: 380px; /* should be double-wide width minus left margin (below) - */
}

.fullwidth-chart {
	background-color: white;
	border-radius: 6px;
	clear: both;
	margin: 20px 0px;
	min-width: 720px;
	padding: 10px 0px 0px 10px;
}

.bottom-wide-chart {
	clear: both;
	width: 100%;
	min-width: 720px;
	height: 250px;
	margin-top: 20px;
}

.bottom-double-charts {
	position: relative;
	height: 250px;
	margin: 20px 0px;
	min-width: 720px;
}

.left-chart {
	position: absolute;
	left: 0px;
	width: 48%;
	height: 250px;
	margin-right: 20px;
}

.right-chart {
	position: absolute;
	right: 0px;
	width: 48%;
	height: 250px;
	margin-left: 20px;
}

.gauge-chart {
	padding: 0px 20px;
}

.gauge {
	display: inline;
	float: left;
	width: 260px;
	height: 225px;
	border: 1px solid #ccc;
	margin: 4px;
}

.file {
	width: 480pt;
	height: 280pt;
	border: 1px solid #333;
	overflow: scroll;
	padding: 4px 8px;
	white-space: pre;
	background-color: white;
	font-family: Menlo, Courier, monospace;
}

/*
	LAYOUT TABLES
*/

table.dashboard {
	width: 100%;
}

tr.dashboard_row {
	height: 250px;
}

tr.dashboard_row>td {
	height: 250px;
	padding: 0px;
}

.dashboard td.table-gauge {
	width: 280px;
}

div.table-gauge {
	height: 235px;
	width: 260px;
	background-color: white;
	border-radius: 4px;
	margin: 5px 5px 10px 5px;
	padding: 5px;
}

div.table-chart {
	height: 235px;
	width: auto;
	background-color: white;
	border-radius: 4px;
	margin: 5px 5px 10px 0px;
	padding: 5px;
}