body {
	margin: 16px 16px 16px 16px;
	font-family: Verdana;
	font-size: 11px;
	background-color: #eeeff9;
}

body.navbar {
	margin-top: 48px;
}

#navbar {
	background-color: white;
	border-bottom: 1px solid rgba(0, 0, 0, 0.15);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	padding: 4px;
	text-align: left;
}

/*
	STYLE
*/

a:link {
	text-decoration: none;
}

h2 {
	color: #282828;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	margin: 0px 0px 2px 0px;
	text-align: left;
}

#display-date {
	font-size: 12px;
	font-weight: bold;
}

#left-col table {
	width: 100%;
	table-layout: fixed;
}

caption {
	font-weight: bold;
	font-size: 12px;
	text-align: left;
	padding: 4px;
	border-bottom: 1px solid #999;
}

caption div {
	display: inline-block;
	float: right;
}

th.subhead {
	text-align: right;
	color: #aaaaaa;
}

td {
	padding-left: 4px;
}

td.label {
	text-align: right;
	color: #aaaaaa;
}

table.tooltip {
	margin: 0px;
	padding: 0px;
	border: 0px;
}

.tooltip td {
	padding: 0px;
}

td.figure {
	text-align: right;
}

tr.total td {	
	border-top: 1px solid #bbb;
}

.plotlabel {
	background-color: rgba(255,255,255,0.75);
	font-size: 10px;
}

input.datepicker {
	width: 100px;
}

/*
	LAYOUT 
*/

.status {
	width: 300px; /* if you change this, change right-col left margin. */
	background-color: white;
	border-radius: 6px;
	padding: 10px;
}

#left-col {
	float: left;
	height: 840px;
	margin-bottom: 10px;
}

.right-col {
	margin-left: 330px; /* shoud be 20px more than the left-col width. */
	margin-right: 0px;
	margin-bottom: 10px;
	background-color: white;
	border-radius: 6px;	
	padding: 10px 0px 0px 10px;
}

.multichart {
	height: 250px;
	min-width: 380px; /* should be double-wide width minus left margin (below) - */	
}

.fullwidth-chart {
	background-color: white;
	border-radius: 6px;	
	clear: both;
	margin: 20px 0px;	
	min-width: 720px;
	padding: 10px 0px 0px 10px;
}

.bottom-wide-chart {
	clear: both;
	width: 100%;
	min-width: 720px;
	height: 250px;
	margin-top: 20px;	
}

.bottom-double-charts {
	position: relative;
	height: 250px;
	margin: 20px 0px;
	min-width: 720px;
}

.left-chart {
	position: absolute;
	left: 0px;
	width: 48%;
	height: 250px;
	margin-right: 20px;
}

.right-chart {
	position: absolute;
	right: 0px;
	width: 48%;
	height: 250px;
	margin-left: 20px;
}
