body {
	margin: 16px;
	font-family: Verdana;
	font-size: 11px;
	background-color: #eeeff9;
}

/*
	STYLE
*/

a:link {
	text-decoration: none;
}

h2 {
	color: #282828;
	font-size: 18px;
	text-align: left;
	font-weight: normal;
	font-style: normal;
}

#left-col table {
	width: 100%;
	table-layout: fixed;
}

caption {
	font-weight: bold;
	font-size: 12px;
	text-align: left;
	padding: 4px;
	border-bottom: 1px solid #999;
}

caption div {
	display: inline-block;
	float: right;
}

th.subhead {
	text-align: right;
	color: #aaaaaa;
}

td {
	padding-left: 4px;
}

td.label {
	text-align: right;
	color: #aaaaaa;
}

/*
	LAYOUT 
*/

#left-col {
	float: left;
	width: 300px; /* if you change this, change right-col left margin. */
	height: 840px;
	margin-bottom: 20px;
	background-color: white;
	border-radius: 6px;
	padding: 10px;
}

.right-col {
	margin-left: 330px; /* shoud be 20px more than the left-col width. */
	margin-right: 0px;
	margin-bottom: 10px;
	background-color: white;
	border-radius: 6px;	
	padding: 10px 10px 0px 10px;
}

.multichart {
	height: 250px;
	min-width: 380px; /* should be double-wide width minus left margin (below) - */	
}

.bottom-wide-chart {
	clear: both;
	width: 100%;
	min-width: 720px;
	height: 250px;
	margin-top: 20px;	
}

.bottom-double-charts {
	position: relative;
	height: 250px;
	margin: 20px 0px;
	min-width: 720px;
}

.left-chart {
	position: absolute;
	left: 0px;
	width: 48%;
	height: 250px;
	margin-right: 20px;
}

.right-chart {
	position: absolute;
	right: 0px;
	width: 48%;
	height: 250px;
	margin-left: 20px;
}
